@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

@layer components {
  .container-centered-90 {
      min-width: 90%;
      margin-left:5%;
      margin-right:5%;
  }
  .container-centered-80 {
      min-width: 80%;
      margin-left:10%;
      margin-right:10%;
  }
  .container-centered-70 {
      min-width: 70%;
      margin-left:15%;
      margin-right:15%;
  }
  .container-centered-60 {
      min-width: 60%;
      margin-left:20%;
      margin-right:20%;
  }
  .underline-offset-1{
      text-underline-offset:0.25rem;
  }
  .underline-offset-0\.5{
      text-underline-offset:0.125rem;
  }

  .card {
     @apply rounded-lg shadow 
  }
}
